<% if flash[:alert] %>
  <div class="mb-4 rounded bg-red-100 text-red-700 px-4 py-2">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="mb-4 rounded bg-green-100 text-green-700 px-4 py-2">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="card">
  <h1 class="font-bold text-4xl mb-2">Sign Up</h1>
  <%= form_with model: @user, class: "space-y-4" do |form| %>
    <%= form.email_field :email_address,
        required: true,
        autofocus: true,
        autocomplete: "username",
        placeholder: "Enter your email address",
        value: params[:email_address],
        class: "text-field" %>

    <%= form.password_field :password,
        required: true,
        placeholder: "Enter your new password",
        maxlength: 72,
        class: "text-field" %>

    <%= form.password_field :password_confirmation,
        required: true,
        placeholder: "Confirm your password",
        maxlength: 72,
        class: "text-field" %>

    <%= form.submit "Sign in", class: "btn"  %>
  <% end %>

  <div class="text-right mt-2">
    <%= link_to "Forgot password?", new_user_path, class: "text-sm text-blue-600 hover:underline" %>
  </div>
</div>


